@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary: #07691c;
  --clr-primary-hover: #ba5c12;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-pink: #ffe8dc;
  --clr-white: #fff;
  --ff-primary: 'Proza Libre', sans-serif;
  --ff-secondary: 'Cormorant', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --spacing-secondary: 0.05rem;
  --radius: 0.5rem;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}
a img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 4rem;
}

h1 {
  font-size: 2rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
  font-weight: 400;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.25rem;
  font-weight: 400;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  letter-spacing: var(--spacing-secondary);
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}

.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .my-projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-hover);
  color: var(--clr-pink);
  padding: 0.75rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-grey-10);
}

html,
input,
textarea {
  line-height: 1.5;
}
/* animation */

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* navbar */

.nav-items {
  display: flex;
  list-style-type: none;
  padding: 10px;
  width: 100%;
  color: var(--clr-primary);
  background-color: var(--clr-pink);
  padding: 25px 20px;
  font-size: 20px;

  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 2;
  position: fixed;
  top: 0;
}

li {
  padding: 10px;
}

.nav-link {
  color: var(--clr-primary);
  padding: 8px;
  justify-content: end;
}

li a:hover {
  color: var(--clr-primary-hover);
  text-decoration: underline;
}

#EC {
  flex-grow: 1;
}

.nav-btn {
  transform: translateX(-100px);
}

@media screen and (max-width: 900px) {
  .nav-btn {
    transform: translateX(0px);
    position: fixed;
    top: 5%;
    right: 7%;
    font-size: 2rem;
    color: var(--clr-primary);
    z-index: 1;
    cursor: pointer;
    animation: bounce 2s ease infinite;
  }

  .nav-items {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    background: var(--clr-pink);
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateX(200%);
    transition: all 0.6s linear;
  }

  .showNav {
    transform: translate(0);
    transition: var(--transition);
  }

  .navbar-header {
    text-align: right;
    padding: 0.5rem 0 0 3rem;
  }

  .nav-close {
    font-size: 2.5rem;
    cursor: pointer;
    color: #f29c9c;
    transition: var(--transition);
    z-index: 3;
    position: relative;
    margin-right: 2rem;
  }

  .nav-close:hover {
    color: #bb2525;
  }

  .nav-items {
    list-style-type: none;
    padding-top: 4rem;
  }
  .nav-link {
    display: block;
    margin-right: 2rem;
    font-size: 1.5rem;
    padding: 0.1rem 1rem;
    letter-spacing: var(--spacing);
    color: var(--clr-primary);
    transition: var(--transition);
  }

  .nav-link:hover {
    color: var(--clr-primary-hover);
    transform: translateX(-0.5rem);
  }
}

/* homepage */

.header {
  display: grid;
  grid-template: repeat(2, 2fr 1fr) / repeat(2, 1fr);
}

.intro {
  grid-area: 1 / 1 / 2 / 2;
}

.curious {
  grid-area: 2 / 1 / 3 / 2;
  transition: var(--transition);
}

.curious :hover {
  opacity: 0.6;
}

.headshot-wrapper {
  grid-area: 1 / 2 / 3 / span 1;
  justify-self: center;
  align-content: center;
}

.headshot-wrapper::before {
  content: '';
  background-color: var(--clr-pink);
  width: 37%;
  height: 50%;
  position: absolute;
  margin: 2em;
  border-radius: var(--radius);
}

.headshot {
  position: relative;
  border-radius: var(--radius);
}

@media screen and (max-width: 700px) {
  .headshot-wrapper::before {
    width: 50%;
    height: 30%;
    position: absolute;
    margin: 2em;
  }
}

/* projects */

.my-projects {
  padding: 20px;
  justify-items: center;
  align-content: center;
}

.project {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  transition: var(--transition);
  background-color: var(--clr-pink);
  border-radius: var(--radius);
  margin: 10px 5px;
}

.project-content {
  padding: 1em;
  justify-content: center;
  display: block;
}

.project:hover .background {
  opacity: 0.8;
  transform: scale(1.1);
}

.project:hover .arrow {
  transform: translateX(25%);
}

.arrow {
  height: auto;
  margin: 1rem 1rem;
  transition: var(--transition);
  display: inline-block;
  font-size: 1.2rem;
  color: var(--clr-primary);
}

.project-title {
  display: inline-block;
}
.languages {
  list-style-type: none;
  column-count: 2;
}

.languages li {
  display: flex;
}
.languages li::before {
  content: '';
  background: url('./images/fontawesome-free-5.15.1-web/svgs/solid/caret-right.svg')
    no-repeat center center;
  display: block;
  width: 2em;
}

.project a {
  position: absolute;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-description {
  margin: 1.5rem;
}

.background-wrapper {
  display: block;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.background {
  background-position: center;
  background-size: cover;
  display: block;
  height: 100%;
  transition: var(--transition);
}

.image-1 {
  background-image: url('./images/goran-ivos-iOykDIkZLQw-unsplash.jpg');
}

.image-2 {
  background-image: url('./images/2.jpg');
}

.image-3 {
  background-image: url('./images/3.jpg');
}

.image-4 {
  background-image: url('./images/4.jpg');
}

@media (min-width: 768px) {
  .project-content,
  .background-wrapper {
    width: 50%;
  }

  .project {
    display: flex;
  }
  .background-wrapper {
    height: auto;
    /* border-radius: var(--radius) 0 rem  */
    border-top-left-radius: var(--radius);
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: var(--radius);
    border-top-right-radius: 0rem;
  }
}

/* about */

.my-journey {
  position: relative;
}

.my {
  display: inline-block;
  border-bottom: 3px solid var(--clr-primary);
  padding: 5px;
}

.my-story {
  font-size: 20px;
  width: 100%;
  max-width: 1000px;
  letter-spacing: var(--spacing-secondary);
}

.VRpic {
  width: 250px;
  height: auto;
  float: left;
  padding-right: 30px;
  border-radius: var(--radius);
}

@media screen and (max-width: 900px) {
  .my-story {
    font-size: 22px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .my-story {
    font-size: 22px;
    width: 100%;
  }
}

/* contact page */

.letstalk {
  font-size: 30px;
}

.contact {
  position: relative;
  line-height: 1.5;
}

.letsconnect {
  padding-right: 30px;
}

.contactForm {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background-color: var(--clr-pink);
  width: 800px;
  box-shadow: 0px 1px 1px black;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: inline-block;
  padding: 12px 12px;
  clear: left;
  width: 250px;
  text-align: right;
  vertical-align: top;
  margin-bottom: 15px;
}
input,
textarea {
  font-size: 20px;
  padding: 5px;
  border: 0;
  margin: 7px 0;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  justify-self: center;
  display: inline-block;
}

.contact-btn {
  align-self: center;
  margin: 6px 0;
}

@media screen and (max-width: 900px) {
  .contactForm {
    width: 400px;
    padding: 10px;
    align-items: center;
  }

  input,
  textarea {
    font-size: 15px;
    width: 100%;
    margin: 5px 0;
  }

  label {
    display: inline-block;
    padding: 0;
    width: 250px;
    text-align: right;
    vertical-align: top;
    margin-bottom: 15px;
  }
}

/* Footer */

.footer {
  background: var(--clr-grey-1);
  text-align: center;
}
.social-icon {
  color: var(--clr-pink);
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-hover);
}

.footer-text {
  margin-top: 0.5rem;
  color: var(--clr-white);
  font-weight: 400;
}
