
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body {
    background-color: #f1faee;
    margin: 70px 0px 0px 0px; 
    
}

h1 {
color: #e63946; 
font-family: 'Proza Libre', sans-serif;
font-size: 40px; 
font-weight: bold;
}

.header {
    display:grid; 
    grid-template: repeat(2, 2fr 1fr) / repeat(2, 1fr); 
}


.headshot {
    width: 150px; 
    height:auto; 
    grid-area: 1 / 2 / 3 / span 1; 
    justify-self: center;
    align-content: center;
}

.intro {
    font-family: 'Proza Libre', sans-serif;
    color: #16697A; 
    font-size: 25px;
    grid-area: 1 / 1 / 2 / 2; 
}

.curious {
    font-family: 'Proza Libre', sans-serif;
    color: #16697A; 
    font-size: 20px; 
    grid-area: 2 / 1 / 3 / 2; 
    transition: 1s opacity ease-in-out; 

}

.curious :hover {
    opacity: 0.6; 
}

main {
    max-width: 1000px; 
    margin: 0 auto; 
    position: relative; 
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 44px;
    grid-auto-rows: 500px;
    justify-items: center; 
    justify-content: center; 
    align-content: center; 
    grid-auto-rows: 500px;
}

.project {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 200px; 
  position: relative;
  transition: 0.5s opacity ease-in-out; 
}

.project:hover {
    opacity: 0.8; 
    
  
}

.container {
    min-width: 500px;
  margin: auto;
}

.arrow {
    padding-left: 10px;
    padding-top: 10px;
    width: 20px;
    height: auto;
}


h2 {
    background-color: #457b9d;
    color: #EDE7E3; 
    font-family: 'Proza Libre', sans-serif; 
}


img {
    object-fit: cover;
    height: 100%; 
    width: 100%; 

}
.image {
    display:block; 
    height: 200px; 

}

.background {
    background-image: url("./images/1.jpg");
    background-position: center; 
    background-size: cover; 

}

.project a {
    position: absolute; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%; 
    text-indent: 110%; 
    white-space: nowrap;
    overflow: hidden; 
}

ul {
    display: grid; 
    list-style-type: none; 
    margin: 0;
    padding: 10px;
    width: 100%; 
    color: #16697A; 
    background-color: #f1faee; 
    border-bottom: 1px solid #f1faee;
    font-family: "Proza Libre" , "Sans-serif";
    font-size: 30px;
    font-weight: bold;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-end; 
    z-index: 10; 
    position:fixed;
    top: 0; 

  }

  li a {
    color: #457b9d; 
    padding: 8px;
    background-color: #f1faee;
    text-decoration: none; 
  }
    
  

  li a:hover { 
      color: #e63946; 
      text-decoration: underline; 
      
  }

  #EC {
    flex-grow: 1; 
} 

.menu {
    justify-content: end;
}

.my-journey {
    position:relative; 
    font-family: 'Proza Libre', sans-serif; 
  }

  .my {
      display: inline-block; 
      border-bottom: 3px solid #16697A;
      padding: 5px; 
  }

  
    .my-story {
        font-family: 'Proza Libre', sans-serif; 
        font-size: 20px; 

    }

    .VRpic {
        width: 200px; 
        height: auto;
        float: left; 
        padding-right: 30px; 
    }
