
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    margin: 120px 0px 0px 0px; 
}

html,
input, textarea {
    font-family: 'Proza Libre', sans-serif;
    line-height: 1.5;
}

h1 {
color: #07691C; 
font-size: 40px; 
font-weight: normal; 
}

.header {
    display:grid; 
    grid-template: repeat(2, 2fr 1fr) / repeat(2, 1fr); 
}

.intro {
    font-family: 'Proza Libre', sans-serif;
    color: #000000; 
    font-size: 25px;
    grid-area: 1 / 1 / 2 / 2; 
}

.curious {
    font-family: 'Proza Libre', sans-serif;
    color: #000000; 
    font-size: 20px; 
    grid-area: 2 / 1 / 3 / 2; 
    transition: 1s opacity ease-in-out; 

}

.curious :hover {
    opacity: 0.6; 
}

main {
    max-width: 1000px; 
    margin: 0 auto; 
    position: relative; 
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 44px;
    grid-auto-rows: 500px;
    justify-items: center; 
    justify-content: center; 
    align-content: center; 
    grid-auto-rows: 500px;
}

.project {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 200px; 
  position: relative;
  transition: 0.5s opacity ease-in-out; 
}

.project:hover {
    opacity: 0.8; 
    
  
}

.container {
    min-width: 500px;
  margin: auto;
}

.arrow {
    padding-left: 10px;
    padding-top: 10px;
    width: 20px;
    height: auto;
}


h2 {
    background-color: #FFE8DC;
    color:#07691C ; 
    font-family: 'Proza Libre', sans-serif; 
}


img {
    max-width: 100%;
    height: auto;
}

.headshot-wrapper {
    grid-area: 1 / 2 / 3 / span 1; 
    justify-self: center;
    align-content: center;
}

.headshot-wrapper::before {
    content: '';
    background-color: #FFE8DC;
    width: 37%;
    height: 75%;
    position: absolute;
    margin: 2em;

}

.headshot {
    position: relative; 

}

.background {
    background-position: center; 
    background-size: cover; 
    display:block; 
    height: 200px; 

}

.image-1 {
    background-image: url("./images/1.jpg");
}

.image-2 {
    background-image: url("./images/2.jpg");
}

.image-3 {
    background-image: url("./images/3.jpg");
}

.image-4 {
    background-image: url("./images/4.jpg");
}

.image-5 {
    background-image: url("./images/5.jpg");
}

.image-6 {
    background-image: url("./images/6.jpg");
}


.project a {
    position: absolute; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 100%; 
    text-indent: 110%; 
    white-space: nowrap;
    overflow: hidden; 
}

ul {
    display: grid; 
    list-style-type: none; 
    margin: 0;
    padding: 10px;
    width: 100%; 
    color: #07691C; 
    background-color:  #FFE8DC;
    border-bottom: 3px solid #FFE8DC;
    padding: 25px 20px; 
    font-family: "Proza Libre" , "Sans-serif";
    font-size: 20px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-end; 
    z-index: 10; 
    position:fixed;
    top: 0; 

  }

  li { 
    padding: 10px;  
  }

  li a {
    color: #07691C; 
    padding: 8px;
    text-decoration: none; 
  }
    
  

  li a:hover { 
      color: #BA5C12; 
      text-decoration: underline; 
      
  }

  #EC {
    flex-grow: 1; 
} 

.menu {
    justify-content: end;
}

.my-journey {
    position:relative; 
    font-family: 'Proza Libre', sans-serif; 
  }

  .my {
      display: inline-block; 
      border-bottom: 3px solid #16697A;
      padding: 5px; 
  }

  
    .my-story {
        font-family: 'Proza Libre', sans-serif; 
        font-size: 20px; 
        width: 700px; 

    }

    .VRpic {
        width: 250px; 
        height: auto;
        float: left; 
        padding-right: 30px; 
    }

    .letstalk {
        font-size: 30px; 
    }

    .contact {
        position:relative; 
        font-family: 'Proza Libre', sans-serif; 
      }

      .letsconnect {
        padding-right: 30px; 
    }

      .contactForm {
        font-family: 'Proza Libre', sans-serif; 
        font-size: 20px; 
        background-color: #FFE8DC;  
        width: 800px; 
        height: 350px; 
        box-shadow: 0px 1px 1px black; 
        padding: 10px;

    }

    input, textarea {
        font-size: 20px;
        padding: 5px;
        border: 0;
        margin: 7px 0;
        box-sizing: border-box;
        border-radius: 8px;
        justify-self: center;
        display: inline-block;

    }


    label{
        display: inline-block;
        padding: 12px 12px;
        clear: left;
        width: 250px;
        text-align: right;
        vertical-align: top;
        margin-bottom: 15px; 

    }
    
    button {

        font-family: 'Proza Libre', sans-serif; 
        font-size: 18px; 
        background-color: #BA5C12;
        border: none;
        color: #FFE8DC;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        margin-left: 254px; 
    }

    button:hover { 
        opacity: 0.9;  

    }
    
